*{
    margin: 0;
    padding: 0;
}
.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}  
a{
    font-family: "Sawarabi Mincho";
}
nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: #000;
   
  }

nav ul{
    display: flex;
    background-color: #000;
    margin-right: 50px;

}

nav a {
    display: block;
    text-decoration: none;
    color: #FFF1D8;
    transition: 0.5s;
    font-family: "Sawarabi Mincho";
    font-weight: normal;
    font-size: 20pt;
    margin: 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #60A852;
  }
.top{
    font-size: 20px;
    color: #FFF1D8;
    -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 30px;
  background-color: #282D30;
  margin-left: 50px;
}  
.bg-switcher1{
    display: block;
    width: 100vw;
    position: relative;
}
.bg-switcher1 img{
   opacity: 0;
   display: block;
}
.bg-switcher2{
    display: block;
    width: 100vw;
    position: relative;
}
.bg-switcher2 img{
    opacity: 0;
   display: block;
}
.bg-switcher3{
    display: block;
    width: 100vw;
    position: relative;
}
.bg-switcher3 img{
    opacity: 0;
   display: block;
}
.bg-switcher4{
    display: block;
    width: 100vw;
    position: relative;
}
.bg-switcher4 img{
    opacity: 0;
   display: block;
}
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
p,
h1,
h2{
    font-family: "Sawarabi Mincho";
}
header img{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: block;
    position: relative;
}
.toyohasi-setumei img{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: block;
}
.toyohasi-syosai{
    background-color: #FAF5EC;
    padding: 30px;
    position: absolute;
    top: 125%;
    left: 60%;
}
.toyohasi-syosai h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}
.toyohasi-syosai p{
    text-align: center;
    font-size: 20px;
}
.osusume{
    text-align: center;
    background-color: #282D30;
    color: #FFF1D8;
    padding-top: 60px;
    padding-bottom: 200px;
}
.osusume p{
    font-size: 48px;
    margin-bottom: 60px;
}
.osusume h2{
    font-size: 64px;
}
.plan1 img{
    position: relative;
    width: 100vw;
    display: block;
    background-color: #282D30;
}
.plan1 h2{
    color: #FFF1D8;
    background-color: #282D30;
    font-size: 64px;
   text-align: center;
}

.black img{
    width: 1440px;
    height: 600px;
    background-size: cover;
    background-position: center center;
    display: block;
    position: relative;
    background-color: #282D30 ;
}
.black-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}
.plan-setumei1{
    text-align: center;
    background-color: #FAF5EC;
    opacity: 0.7;
    padding: 50px;
    font-size: 24px;
    border-radius: 5px;
    font-family: "Sawarabi Mincho";
}
.button{
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    background-color: #282D30;
    color: #FFF1D8;
    padding: 10px 50px 10px 50px;
    font-size: 24px;
    border-radius: 5px;
    transition: all  0.7s ease;
}
.button:hover{
    background-color: #FFF1D8;
    color: #282D30;
}
.black-setumei2{
    display: block;
}
.black-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 88px;
    font-family: "Sawarabi Mincho";
}
.black-setumei2 iframe{
    right: 0;
    position: absolute;
}
.plan2 img{
    width: 100vw;
    display: block;
    position: relative;
}
.udon-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}
.udon-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 106px;
    padding-left: 120px;
    font-family: "Sawarabi Mincho";
}
.udon-setumei2 iframe{
    right: 0;
    position: absolute;
}
.plan3 img{
    width: 100vw;
    display: block;
    position: relative;
}
.nonhoi-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}
.nonhoi-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 106px;
    padding-left: 125px;
}
.nonhoi-setumei2 iframe{
    right: 0;
    position: absolute;
}
.plan4 img{
    width: 100vw;
    display: block;
    position: relative;
}
.tikuwa-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}
.tikuwa-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 88px;
    padding-left: 250px;
}
.tikuwa-setumei2 iframe{
    right: 0;
    position: absolute;
}
.plan5 {
    position: relative;
}
.plan5 img{
    width: 100vw;
    display: block;
}
.plan5 p{
    position: absolute;
    left: 35%;
    top: 50%;
  color: #FFF1D8;
  font-size: 48px;
}
.plan5 h2{
    position: absolute;
    left: 41.5%;
    top: 87%;
  color: #FFF1D8;
  font-size: 64px;
}
.gentei img{
    width: 100vw;
    display: block; 
    position: relative;
}

.tedutu{
    position: relative;
}
.tedutu-intr{
    position: absolute;
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px;
    opacity: 0.7;
    top: 30%;
    left: 60%;
   
}

.oden{
    position: relative;
}
.oden-intr{
    position: absolute;
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px;
    opacity: 0.7;
    left: 60%;
    top: 25%;
}
.int-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}
.int-setumei{
    font-size: 24px;
    text-align: center;
}
.owari{
    background-color: #282D30;
    text-align: center;
}
.owari h2{
    color: #FFF1D8;
    font-size: 64px;
    text-align: center;
}
.owari p{
    background-color: #FFF1D8;
    display: inline-block;
    padding: 100px 50px 100px 50px;
    margin-top: 40px;
    margin-bottom: 200px;
    font-size: 32px;
}
footer{
    text-align: center;
    display: block;
    background-color: #000;
    color: #FFF1D8;
}
@media (max-width: 400px){
    nav {
        display: none;
    }
    header img{
       width: 390px;
        height: 590px;
        object-fit: cover;
    }
    .toyohasi-setumei img{
        width: 390px;
        height: auto;
    }
    .toyohasi-syosai{
        padding: 8px;
        margin: 15px;
        top: 100%;
    }
    .toyohasi-syosai h2{
        font-size: 14px;
    }
    .toyohasi-syosai p{
        font-size: 10px;
    }
    .osusume p{
        font-size: 14px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .osusume h2{
        font-size: 16px;
        margin-top: 15px;
    }
    .plan1 h2{
        font-size: 20px;
    }
    .bg-switcher1 img{
        width: 390px;
        height: auto;
      
    }
    .plan-setumei1{
        width: 180px;
        font-size: 5px;
        padding: 8px;
        margin-right: 20px;
    }
    .black-setumei{
        top: 20%;
        left: 45%;
    }
    .button{
        margin-top: 1px;
        padding: 2px 5px 2px 5px;
        font-size: 2px;
    }
    .bg-switcher1{
        width: 390px;
        height: auto;
    }
    .map{
        height: 200px;
        width: 390px;
    }
    .black-setumei2 p{
        margin-top: 200px;
        font-size: 9px;
        padding: 10px;
        width: 370px;
        text-align: center;
    }
    .bg-switcher2 img{
        width: 390px;
        height: 162px;
    }
    
    .udon-setumei{
        top: 20%;
        left: 45%;
    }
    
    .udon-setumei2 p{
        margin-top: 200px;
        font-size: 9px;
        padding: 10px;
        width: 370px;
        text-align: center;
    }
    .bg-switcher3 img{
        width: 390px;
        height: 162px;
    }
    .nonhoi-setumei 
    {
        top: 20%;
        left: 45%;
    }
    .nonhoi-setumei2 p{
        margin-top: 200px;
        font-size: 9px;
        padding: 10px;
        width: 370px;
        text-align: center;
    }
    .bg-switcher4 img{
        width: 390px;
        height: 162px;
    }
    .tikuwa-setumei 
    {
        top: 20%;
        left: 45%;
    }
    .tikuwa-setumei2 p{
        margin-top: 200px;
        font-size: 9px;
        padding: 10px;
        width: 370px;
        text-align: center;
    }
    .plan5 p{
        font-size: 13px;
    }
    .plan5 h2{
        font-size: 20px;
    }
    .tedutu-intr{
        padding: 0px;
        width: 200px;
        top: 20%;
        left: 40%;
        font-size: 10px;
    }
    .tedutu-intr p{
        margin: 5px 8px 5px 8px;
        font-size: 12px;
    }
    .oden-intr{
        padding: 0px;

        width: 240px;
        top: 20%;
        left: 30%;
        font-size: 10px;
    }
    .oden-intr p{
        margin: 5px 8px 5px 8px;
        font-size: 12px;
    }
    .oden-intr h2{
        font-size: 20px;
    }
    .owari h2{
        font-size: 20px;
    }
    .owari p{
        font-size: 12px;
        padding: 30px 20px 30px 20px;
        margin-bottom: 50px;
    }
    footer{
        font-size: 10px;
    }


}
