*{
    margin: 0;
    padding: 0;
}
.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}  
a{
    font-family: "Sawarabi Mincho";
}
nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: #000;
   
  }

nav ul{
    display: flex;
    background-color: #000;
    margin-top: 20px;
    margin-right: 50px;

}
.map{
    float: right;
    width: 30%;
}
nav a {
    text-decoration: none;
    color: #FFF1D8;
    transition: 0.5s;
    font-family: "Sawarabi Mincho";
    font-weight: normal;
    font-size: 20pt;
    margin: 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #60A852;
  }
.top{
    font-size: 20px;
    color: #FFF1D8;
    -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 30px;
  background-color: #000;
  margin-left: 50px;
}  
.bg-switcher1{
    display: block;
    width: 100vw;
    height: 80vh;
    background-image: url(images/tyokokojo.png);
    position: relative;
    background-size: cover;
}

.bg-switcher2{
    display: block;
    width: 100vw;
    height: 80vh;
    background-image: url(images/kare-udon.png);
    position: relative;
    background-size: cover;
}

.bg-switcher3{
    display: block;
    width: 100vw;
    height: 80vh;
    background-image: url(images/nonhoi.png);
    position: relative;
    background-size: cover;
}

.bg-switcher4{
    display: block;
    width: 100vw;
    height: 80vh;
    background-image: url(images/tikuwa1.png);
    position: relative;
    background-size: cover;
}

.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
p,
h1,
h2{
    font-family: "Sawarabi Mincho";
}
header img{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    display: block;
    position: relative;
}
.toyohasi-setumei img{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.toyohasi-syosai{
    background-color: #FAF5EC;
    padding: 30px;
    position: absolute;
    top: 125%;
    left: 60%;
}
.toyohasi-syosai h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}
.toyohasi-syosai p{
    text-align: center;
    font-size: 20px;
}
.osusume{
    text-align: center;
    background-color: #282D30;
    color: #FFF1D8;
    padding-top: 60px;
    padding-bottom: 200px;
}
.osusume p{
    font-size: 48px;
    margin-bottom: 60px;
}
.osusume h2{
    font-size: 64px;
}
.plan1 img{
    position: relative;
    width: 100vw;
    display: block;
    background-color: #282D30;
}
.plan1 h2{
    color: #FFF1D8;
    background-color: #282D30;
    font-size: 64px;
   text-align: center;
}

.black img{
    width: 1440px;
    height: 600px;
    background-size: cover;
    background-position: center center;
    display: block;
    position: relative;
    background-color: #282D30 ;
}
.black-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}
.plan-setumei1{
    text-align: center;
    background-color: #FAF5EC;
    opacity: 0.7;
    padding: 50px;
    font-size: 24px;
    border-radius: 5px;
    font-family: "Sawarabi Mincho";
}
.button{
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    background-color: #282D30;
    color: #FFF1D8;
    padding: 10px 50px 10px 50px;
    font-size: 24px;
    border-radius: 5px;
    transition: all  0.7s ease;
}
.button:hover{
    background-color: #FFF1D8;
    color: #282D30;
}
.black-setumei2,
.udon-setumei2,
.nonhoi-setumei2,
.tikuwa-setumei2{

text-align: center;
}
.black-setumei2 p{
    width: 70%;
    height: 181px;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px 0 50px 0px;
    font-family: "Sawarabi Mincho";
 
}
.black-setumei2 iframe{
    right: 0;
}
.plan2 img{
    width: 100vw;
    display: block;
    position: relative;
}
.udon-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}

.udon-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px 0 50px 0px;
    width: 70%;
    height: 181px;
    font-family: "Sawarabi Mincho";
}
.udon-setumei2 iframe{
    right: 0;
}
.plan3 img{
    width: 100vw;
    display: block;
    position: relative;
}
.nonhoi-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}

.nonhoi-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px 0 50px 0px;
    width: 70%;
    height: 181px;
}
.nonhoi-setumei2 iframe{
    right: 0;
}
.plan4 img{
    width: 100vw;
    display: block;
    position: relative;
}
.tikuwa-setumei{
    position: absolute;
    left: 60%;
    top: 25%;
    text-align: center;
}
.tikuwa-setumei2 p{
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px 0 50px 0px;
    width: 70%;
    height: 181px;
}
.tikuwa-setumei2 iframe{
    right: 0;
}
.plan5 {
    position: relative;
    text-align: center;
}
.plan5 img{
    width: 100vw;
    display: block;
}
.plan5 p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;

  color: #FFF1D8;
  font-size: 48px;
}
.plan5 h2{
    position: absolute;
    top:90%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
  color: #FFF1D8;
  font-size: 64px;
}
.gentei img{
    width: 100vw;
    display: block; 
    position: relative;
}

.tedutu{
    position: relative;
}
.tedutu-intr{
    position: absolute;
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px;
    opacity: 0.7;
    top: 30%;
    right: 10%;
   
}

.oden{
    position: relative;
}
.oden-intr{
    position: absolute;
    text-align: center;
    background-color: #FFF1D8;
    display: inline-block;
    font-size: 24px;
    padding: 50px;
    opacity: 0.7;
    right: 10%;
    top: 25%;
}
.int-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}
.int-setumei{
    font-size: 24px;
    text-align: center;
}
.owari{
    background-color: #282D30;
    text-align: center;
}
.owari h2{
    color: #FFF1D8;
    font-size: 64px;
    text-align: center;
}
.owari p{
    background-color: #FFF1D8;
    display: inline-block;
    padding: 100px 50px 100px 50px;
    margin-top: 40px;
    margin-bottom: 200px;
    font-size: 32px;
}
footer{
    text-align: center;
    display: block;
    background-color: #000;
    color: #FFF1D8;
}
@media (max-width: 800px){
    nav {
        display: none;
    }

    header img{
       width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .toyohasi-setumei img{
        width: 100vw;
        height: auto;
    }
    .toyohasi-syosai{
        padding: 8px;
        margin: 15px;
        top: 105%;
    }
    .toyohasi-syosai h2{
        font-size: 14px;
    }
    .toyohasi-syosai p{
        font-size: 10px;
    }
    .osusume p{
        font-size: 14px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .osusume h2{
        font-size: 16px;
        margin-top: 15px;
    }
    .plan1 h2{
        font-size: 20px;
    }
    .bg-switcher1{
     height: 30vh;
     width: 100vw;
    }
    .bg-switcher2{
        height: 30vh;
        width: 100vw;
       }
    .bg-switcher3{
        height: 30vh;
        width: 100vw;
       }
     .bg-switcher4{
        height: 30vh;
        width: 100vw;
       }
    .plan-setumei1{
        width: 180px;
        font-size: 9px;
        padding: 8px;
        margin-right: 20px;
    }
    .black-setumei{
        top: 25%;
        right: 10%;
    }
    .button{
        margin-top: 1px;
        padding: 2px 5px 2px 5px;
        font-size: 9px;
    }

    .map{
        height: 30vh;
        width: 100vw;
    }
    .black-setumei2 p{
        font-size: 9px;
        padding: 5px 0 5px 0;;
        width: 100vw;
        height: auto;
        text-align: center;
        
    }
    
    .udon-setumei{
        top: 25%;
        right: 10%;
    }
    
    .udon-setumei2 p{
        font-size: 9px;
        padding: 5px 0 5px 0px;
        width: 100vw;
        height: auto;
        text-align: center;
    }

    .nonhoi-setumei 
    {
        top: 25%;
        right: 10%;
    }
    .nonhoi-setumei2 p{
        font-size: 9px;
        padding: 5px 0 5px 0;
        width: 100vw;
        height: auto;
        text-align: center;
    }
   
    .tikuwa-setumei 
    {
        top: 25%;
        right: 10%;
    }
    .tikuwa-setumei2 p{
        font-size: 9px;
        padding: 5px 0 5px 0;
        width: 100vw;
        height: auto;
        text-align: center;
    }
    .plan5 p{
        font-size: 20px;

    }
    .plan5 h2{
        font-size: 20px;
    }
    .tedutu-intr{
        padding: 0px;
        width: 200px;
        top: 20%;
        right: 10%;
        font-size: 10px;
    }
    .tedutu-intr p{
        margin: 5px 8px 5px 8px;
        font-size: 12px;
    }
    .oden-intr{
        padding: 0px;
        width: 240px;
        top: 20%;
        right: 10%;
        font-size: 10px;
    }
    .oden-intr p{
        margin: 5px 8px 5px 8px;
        font-size: 12px;
    }
    .oden-intr h2{
        font-size: 20px;
    }
    .owari h2{
        font-size: 20px;
    }
    .owari p{
        font-size: 12px;
        padding: 30px 20px 30px 20px;
        margin-bottom: 50px;
    }
    footer{
        font-size: 10px;
    }


}
@media (max-width: 400px){
    .black-setumei,
    .nonhoi-setumei ,
    .udon-setumei,
    .tikuwa-setumei
    {
        top: 25%;
        left:  40%;
    }
    .plan5 p{
        font-size: 13px;
      
    }
    .plan5 h2{
        font-size: 20px;
       
    }
    
}
